.hotel-name {
  text-align: left;
  margin: 0 0 5px 0;
}

.hotel-location-icon {
  color: #004080
}

.hotel-location-container {
  display: flex;
  gap: 5px;
}

.hotel-rating-container {
  margin: 10px 0 15px 0;
}

.hotel-rating {
  display: inline-block;
  margin-right: 10px;
  background-color: #004080;
  color: white;
  padding: 6px;
  border-radius: 5px 5px 5px 0;
  width: auto;
  text-align: center;
}

.hotel-rating-container span {
  color: #5f5f5f;
}