.hotel-preview {
  border: 1px solid #ccc;
  border-radius: 10px;
  /*padding: 0.8rem;*/
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.hotel-preview:hover {
  transform: translateY(-4px);
}

.hotel-preview a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.preview-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0.5rem;
}

.name {
  margin: 0 0 0 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.location {
  margin: 0 0 7px 10px;
  font-size: 0.9rem;
  color: #5f5f5f;
}

.rating-container {
  margin: 0 0 0 10px;
}

.rating {
  display: inline-block;
  margin-right: 10px;
  background-color: #004080;
  color: white;
  padding: 6px;
  border-radius: 5px 5px 5px 0;
  width: auto;
  text-align: center;
}

.rating-container span {
  color: #5f5f5f;
}

.price {
  margin: 10px;
  text-align: end;
}

.price span {
  color: #5f5f5f;
  font-size: 0.9rem;
}