.modal-reviews-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-reviews {
    background-color: white;
    padding: 2rem;
    max-width: 60%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
}

.modal-reviews::-webkit-scrollbar {
    display: none;
}

.modal-reviews .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.reviews-list .modal-review {
    margin: 0 10px 10px 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.reviews-list .modal-review:last-child {
    border-bottom: 0px;
}

.reviews-list .modal-review div {
    display: flex;
    align-items: center;
}

.reviews-list .modal-review div .review-username {
    font-weight: bold;
    text-align: center;
}

.reviews-list .modal-review div .review-rating {
    margin-left: 2rem;
    background-color: #004080;
    color: white;
    padding: 6px;
    border-radius: 5px 5px 5px 0;
}

.reviews-list .modal-review .review-comment {
    margin: 0;
}

.reviews-pagination {
    margin-top: 2rem;
    text-align: center;
}

.reviews-pagination button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.reviews-pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.reviews-pagination p {
    margin-top: 0.5rem;
}