.modal-review-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-review.single {
    background-color: white;
    padding: 2rem;
    max-width: 40%;
    max-height: 40%;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
}

.modal-review.single div {
    display: flex;
    align-items: center;
}

.modal-review.single div .review-username {
    font-weight: bold;
    text-align: center;
}

.modal-review.single div .review-rating {
    margin-left: 2rem;
    background-color: #004080;
    color: white;
    padding: 6px;
    border-radius: 5px 5px 5px 0;
}

.modal-review.single .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}